body {
  background: rgb(180, 237, 180);
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
h1 {
  text-align: center;
}
.search-bar {
  text-align: center;
}

.search-input {
  background-color: aliceblue;
  width: 60%;
  padding: 15px;
  font-size: 16px;
}
.search-button {
  background-color: blueviolet;
  width: 20%;
  padding: 15px 5px;
  border: none;
  border-radius: 10px;
  color: blanchedalmond;
  font-size: 16px;
}
.weather-info {
  text-align: center;
  max-width: 600px;
  margin: 45px auto;
  padding: 20px 30px;
  border-radius: 10px;
  border: lightblue dotted;
  box-shadow: 0px 30px 50px rgba(65, 50, 100, 0);
  background-color: antiquewhite;
}
.city-name {
  margin-top: 0px;
  padding: 0px 20px 0px 50px;
  border-bottom: rgba(65, 50, 100, 0);
  font-weight: bolder;
}

.city-icon {
  padding: 30px 80px 0px 100px;
  font-size: 60px;
}

.city-temp {
  padding: 50px 110px;
  font-size: 35px;
}

.more-info {
  margin-bottom: 0px;
}

.feels-like-line {
  font-weight: 100;
  margin: 0px;
  padding: 0px 100px 20px;
}

.wind-info {
  padding: 50px 35px;
}

.humidity-level {
  padding: 0px 10px;
}
footer {
  text-align: center;
}
